<%- include("./includes/header.ejs", {title: title}); %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>! Learn how to play your favorite songs on your choice of instrument.</p>

    <a href="/about/all">About</a> <br />
    <br />
    <br />
    <a href="/artist/all">Artists</a><br />
    <a href="/album/all">Albums</a><br />
    <a href="/track/all">Tracks </a><br />
    <a href="/instrument/all">Instruments </a><br />
    <a href="/artist_image/all">Artist Images</a><br />
    <a href="/album_image/all">Album Images</a><br />

<%- include("./includes/footer.ejs"); %>