<%- include("../includes/header.ejs", {title:"About"}); %>

<head>
    <title>Artist Image</title>
</head>

<h1>Artist Image</h1>

<img src=/images/drdre.png>

<%- include("../includes/footer.ejs"); %>