<%- include("../includes/header.ejs", {title:"About"}); %>

<head>
<title>About</title>
</head>

<h1>About</h1>

<table border="1">
    <tr><th>Description.</th></tr>
    <tr><td>
            <p>
                The purpose of this website is to provide users with tablature, sheet music
                and musical scores for the favorite artists and tracks. This website is made for
                people to upload versions of songs so it can be shared for music students to practice
                and master songs of their choice.
            </p>
        </td>
    </tr>
</table>

<br>

</br>

<table border="1">
    <tr><th>About the developer.</th></tr>
    <tr><td>
            <p>
                The developer wanted a place to share music with others in order to help each other
                gain musical knowledge and skill.
            </p>
        </td>
    </tr>
    </table>

<br>

</br>

<table border="1">
    <tr><th>Contact information.</th></tr>
    <tr><td>
            <p>
                Email: donotcontact@gmail.com
                Phone number: (707)777-5656
            </p>
        </td>
    </tr>
</table>

<br>
</br>
<img src=/images/er.png>
<br>
</br>
<img src=/images/rs.png>
<td></td>

<%- include("../includes/footer.ejs"); %>