<html>
<head>
    <title>Add New Album</title>
</head>
<body>
<h1>Add New Album</h1>
<form action="/album/insert" method="get">
    Album Title: <input id="title" name="title" type="text" />
    Genre: <input id="genre" name="genre" type="text" />
    Year Release: <input id="year_release" name="year_release" type="text"/>
    Number of Tracks: <input id="num_tracks" name="num_tracks" type="text"/>
    Number of Images: <input id="num_images" name="num_images" type="text"/>
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>