<html>
<head>
    <title>Tracks - <% result[0].title %></title>
</head>
<body>
<h1>Tracks</h1>
<ul>
    <li>Position: <%= result[0].position%></li>
    <li>Duration: <%= result[0].duration %></li>
</ul>

<%- include("../includes/footer.ejs"); %>